{
  "notice": "This file is maintained by MPaaS automatically.",
  "project": "MPScanCodeDemo_plugin",
  "copy": true,
  "targets": {
    "MPScanCodeDemo_plugin": {
      "author": "shifei.wkp",
      "time": "2020/03/26 11:15:15",
      "versions": {
        "mPaaS_LocalLog": {
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_Log": {
          "MPMasAdapter": "1.0.0.200116173050",
          "APRemoteLogging": "1.0.0.200323194150",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190906170603",
          "AutoTracker": "1.0.0.190909104429",
          "MPPerformance": "1.0.0.190911163314",
          "TianYan": "1.0.0.191211163039",
          "MPDataCenter": "1.0.0.190917163242",
          "APCrashReporter": "1.0.0.200108195846"
        },
        "mPaaS_DataCenter": {
          "MPDataCenter": "1.0.0.190917163242",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_CommonUI": {
          "APCommonUI": "1.0.0.190917175635",
          "AntUI": "1.0.0.190906150048",
          "AntUIShellForMpass": "1.0.0.200109095318",
          "MPBadgeService": "1.0.0.190909104525",
          "MPDataCenter": "1.0.0.190917163242",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_BadgeService": {
          "MPBadgeService": "1.0.0.190909104525",
          "MPDataCenter": "1.0.0.190917163242",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_ScanCode": {
          "TBScanSDK": "1.0.0.200108100009",
          "APRemoteLogging": "1.0.0.200323194150",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190906170603",
          "MPMasAdapter": "1.0.0.200116173050",
          "AutoTracker": "1.0.0.190909104429",
          "MPPerformance": "1.0.0.190911163314",
          "TianYan": "1.0.0.191211163039",
          "MPDataCenter": "1.0.0.190917163242",
          "APCrashReporter": "1.0.0.200108195846"
        }
      },
      "baseline": "10.1.60",
      "pversion": "32",
      "custom": false,
      "frameworks": [
        "APLog.framework",
        "MPMasAdapter.framework",
        "APRemoteLogging.framework",
        "mPaas.framework",
        "UTDID.framework",
        "APProtocolBuffers.framework",
        "AutoTracker.framework",
        "MPPerformance.framework",
        "TianYan.framework",
        "MPDataCenter.framework",
        "APCrashReporter.framework",
        "APCommonUI.framework",
        "Masonry.framework",
        "AntUI.framework",
        "MBProgressHUD.framework",
        "AntUIShellForMpass.framework",
        "MPBadgeService.framework",
        "TBScanSDK.framework",
        "TBDecodeSDK.framework"
      ],
      "resources": [
        "APRemoteLogging.bundle",
        "APCommonUI.bundle",
        "MPBadgeService.bundle",
        "TBScanSDK.bundle",
        "TBDecodeSDK.bundle"
      ]
    }
  },
  "recent": "MPScanCodeDemo_plugin"
}