{
  "notice": "This file is maintained by MPaaS automatically.",
  "project": "MPScanCodeDemo_plugin",
  "copy": true,
  "targets": {
    "MPScanCodeDemo_plugin": {
      "author": "vivi.yw",
      "time": "2021/01/19 20:34:25",
      "versions": {
        "mPaaS_LocalLog": {
          "APLog": "3.0.2.201208163740"
        },
        "mPaaS_DataCenter": {
          "MPDataCenter": "1.0.0.200302154544",
          "mPaas": "1.0.0.201119171452",
          "APLog": "3.0.2.201208163740"
        },
        "mPaaS_Log": {
          "MPMasAdapter": "1.0.0.200716143211",
          "APRemoteLogging": "1.0.0.201223150943",
          "mPaas": "1.0.0.201119171452",
          "APLog": "3.0.2.201208163740",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209",
          "AutoTracker": "1.0.0.200302154544",
          "MPPerformance": "1.0.0.200407145306",
          "TianYan": "1.0.0.200608201645",
          "MPDataCenter": "1.0.0.200302154544",
          "APCrashReporter": "1.0.0.201204172346"
        },
        "mPaaS_UTDIDLib": {
          "UTDID": "1.0.2.190226130141"
        },
        "mPaaS_CommonUI": {
          "APCommonUI": "1.0.0.200729104902",
          "AntUI": "1.0.0.201111140724",
          "Masonry": "1.0.0.200406133247",
          "MBProgressHUD": "1.0.0.200406133247",
          "TTTAttributedLabel": "1.0.0.200729094531",
          "AntUIShellForMpass": "1.0.0.200421105830"
        },
        "mPaaS_MBProgressHud": {
          "MBProgressHUD": "1.0.0.200406133247"
        },
        "mPaaS_Masonry": {
          "Masonry": "1.0.0.200406133247"
        },
        "mPaaS_TTTAttributedLabel": {
          "TTTAttributedLabel": "1.0.0.200729094531"
        },
        "mPaaS_BadgeService": {
          "MPBadgeService": "1.0.0.200228135004",
          "MPDataCenter": "1.0.0.200302154544",
          "mPaas": "1.0.0.201119171452",
          "APLog": "3.0.2.201208163740"
        },
        "mPaaS_ScanCode": {
          "TBScanSDK": "1.0.0.201223115142",
          "APRemoteLogging": "1.0.0.201223150943",
          "mPaas": "1.0.0.201119171452",
          "APLog": "3.0.2.201208163740",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209",
          "MPMasAdapter": "1.0.0.200716143211"
        }
      },
      "baseline": "10.1.68",
      "pversion": "24",
      "custom": false,
      "frameworks": [
        "APLog.framework",
        "MPDataCenter.framework",
        "mPaas.framework",
        "MPMasAdapter.framework",
        "APRemoteLogging.framework",
        "UTDID.framework",
        "APProtocolBuffers.framework",
        "AutoTracker.framework",
        "MPPerformance.framework",
        "TianYan.framework",
        "APCrashReporter.framework",
        "APCommonUI.framework",
        "AntUI.framework",
        "Masonry.framework",
        "MBProgressHUD.framework",
        "TTTAttributedLabel.framework",
        "AntUIShellForMpass.framework",
        "MPBadgeService.framework",
        "TBScanSDK.framework",
        "TBDecodeSDK.framework"
      ],
      "resources": [
        "APRemoteLogging.bundle",
        "APCommonUI.bundle",
        "TTTAttributedLabel.bundle",
        "MPBadgeService.bundle",
        "TBScanSDK.bundle",
        "TBDecodeSDK.bundle"
      ]
    }
  },
  "recent": "MPScanCodeDemo_plugin"
}